/* This is the core CSS of the lightsel. I recommend leaving it as it is because changing it may create errors in the JS code */
.lightsel {
  position: relative;
  font-size: 0;
  width: 100%;
}

.lightsel .control-wrapper {
  position: relative;
}

.lightsel .arrow {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  height: 40px;
  width: 40px;
  padding: 0;

  background-color: transparent;
  outline: none;
  border-radius: 50%;
  border: 1px solid #d3d3d3;
  color: #d3d3d3;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.lightsel .arrow:hover {
  border-color: #000;
  color: #000;
}

.lightsel .arrow .arrow-inner {
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 30px;
}

.lightsel .lightsel-left {
  left: 5px;
}

.lightsel .lightsel-right{
  right: 5px;
}

.lightsel .moving-wrapper {
  width: 100%;
  overflow: hidden;
}

.lightsel .moving {
  display: table;
  position: relative;
  left: 0;

  margin: 0 auto;
  white-space: nowrap;

  transition: all 0s ease;

}

.lightsel .object {
  display: inline-block;

  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  white-space: nowrap;
  outline: none;
}
